/* Main */
form {
  display: flex;
  flex-direction: column;
  width: 520px;
  margin: 10px auto 50px auto;
  padding: 10px 20px;
  border-radius: 5px;
  min-height: 100vh;
  box-sizing: border-box;
}

form h1 {
  color: #333;
}

label {
  color: #333;
}

input, textarea {
  padding: 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin: 5px 0 5px 0;
  border: 1px solid #ccc;
}

input:disabled {
  background-color: #ddd;
}

output {
  color: #fff;
}

form button {
  padding: 15px;
  border-radius: 5px;
  border: none;
  background-color: var(--color1);
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
  display: block;
  width: 100%;
  box-shadow: 0 0 2px 2px #ddd;
}

button:hover {
  opacity: .8;
}

button:active {
  opacity: .7;
}

@media screen and (max-width: 420px) {
  form {
    width: 100%;
    padding: 10px 10px;
    margin: 0;
    border: none;
  }

  form h1 {
    font-size: 24px;
  }
}